# dependencies
node_modules

# output
out
dist
*.tgz

# coverage
coverage
*.lcov

# logs
logs
*.log
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# env
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# IDE
.idea
.DS_Store

# sisyphus
.sisyphus/evidence/
